include ../components/InputElements.jade
.row
  .col-xs-12
    .card
      .card-header
        h4.card-title #{pagetitle}
        a.heading-elements-toggle
          i.fa.fa-ellipsis-v.font-medium-3
        .heading-elements

      .card-body.collapse.in
            - var urlForCreateFunction = "executeModalQuery('module=" + module + "&action=getcreatemodel&catalog=" + current_catalog + "','Create script','modal-lg')"
            +Button(urlForCreateFunction,"Create Admin view","green","fa fa-plus") 
            .card-block.card-dashboard

              .row.mb-3
                .col-md-12
                  include dev_FileExplorer.jade
              .row
                .col-md-12
                  include dev_Table.jade

script.

  function createFolder(current_cat) {
      swal({
        title: "Create new catalog",
        text: "Please enter catalog name:",
        type: "input",
        showCancelButton: true,
        closeOnConfirm: false,
        animation: "slide-from-top",
        inputPlaceholder: "Catalog name"
      },
      function(inputValue) {
        if (inputValue === false) return false;

        if (inputValue === "") {
          swal.showInputError("Catalog name can not be empty!");
          return false
        }

        request_json = [ 
                          { "name" : "module" , "value" : "#{module}" } , 
                          { "name" : "action" , "value" : "createCatalog" },
                          { "name" : "catalog" , "value" : current_cat + '/' + inputValue },
                          { "name" : "of" , "value" : "json"}
                        ];

                    $.ajax({
                            type: 'POST',
                            url: '#{api_url}',
                            data: JSON.stringify(request_json),

                            success: function(data) { 
                                var parsed_data = JSON.parse(data);
                                
                                if (parsed_data.result === 'success') {
                                    swal("Nice!", "Catalog: " + inputValue + " created", "success");
                                    loadContainerQuery('#{module}','read','#netondocontentbody','catalog=#{current_catalog}');                              
                                } else {
                                    swal(parsed_data.message,"","error");
                                }
                                
                            },
                            contentType: "application/json",
                            dataType: 'text'

                    }); 
      });    
  }


  function deleteFolder(catalog) {

      swal({
        title: "Are you sure?",
        text: "Your will not be able to recover this catalog!",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
      },
      function(isConfirm){

          if (isConfirm) {
              request_json = [ 
                                { "name" : "module" , "value" : "#{module}" } , 
                                { "name" : "action" , "value" : "deleteCatalog" },
                                { "name" : "catalog" , "value" : catalog },
                                { "name" : "of" , "value" : "json"}
                              ];

                          $.ajax({
                                  type: 'POST',
                                  url: '#{api_url}',
                                  data: JSON.stringify(request_json),

                                  success: function(data) { 
                                      var parsed_data = JSON.parse(data);
                                      
                                      if (parsed_data.result === 'success') {
                                          swal("Deleted!", "Your catalog has been deleted.", "success");
                                          loadContainerQuery('#{module}','read','#netondocontentbody','catalog=#{current_catalog}');                              
                                      } else {
                                          swal(parsed_data.message,"","error");
                                      }
                                      
                                  },
                                  contentType: "application/json",
                                  dataType: 'text'

                          });             
          } else {
            swal("Cancelled", "Your catalog file is safe :)", "error");
          }

      });

  }