mixin inputSelect(displayname,name,values,selected_val)
        .form-group.floating-label-form-group
            label(for=name) !{displayname}:
            select( data-container="body",data-size="25",data-live-search="true",name=name,id=name,title=displayname).form-control.selectpicker.input-md
                if (row.values)
                    each data, i in row.values
                        if i == selected_val
                            option(value=i selected) #{data} 
                        else
                            option(value=i) #{data}
            script.
                $('#{name}').selectpicker({
                    
                });        

mixin inputSelectEnum(displayname,name,values,selected_val)
        .form-group.floating-label-form-group
            label(for=name) !{displayname}:
            select( data-container="body",data-size="25",data-live-search="true",name=name,id=name,title=displayname).form-control.selectpicker.input-md
                    each data, i in row.values
                        if data == selected_val
                            option(value=i selected) #{data}
                        else
                            option(value=i) #{data}
                                                
mixin inputHidden(name, values)
    input.form-control(type='hidden',id=name,name=name,value=values).input-md

mixin inputText(displayname, name, values)
    .form-group.floating-label-form-group
        label(for=row.name) !{displayname}:
        input.form-control(type='text',id=name,name=name,placeholder=displayname,value=values).input-md

mixin inputDate(displayname, name, values)
    .form-group.floating-label-form-group
        label(for=row.name) !{displayname}:
        input.form-control.dates(type='text',id=name,name=name,placeholder=displayname,value=values).input-md
        

mixin inputTime(displayname, name, values)
    .form-group.floating-label-form-group
        label(for=row.name) !{displayname}:
        input.form-control.dates(type='text',id=name,name=name,placeholder=displayname,value=values).input-md    

mixin inputDateTime(displayname, name, values)
    .form-group.floating-label-form-group
        label(for=row.name) !{displayname}:
        input.form-control.dates(type='text',id=name,name=name,placeholder=displayname,value=values).input-md

mixin inputFiles(displayname, name, values)
    .form-group.floating-label-form-group
        label(for=row.name) !{displayname}:


        .row            
            .col-md-12
                .card.card-outline-primary
                    .card-header
                        .col-md-6
                            - var upload_zone = name + "_upload_zone"
                            div.dm-uploader(id=upload_zone)
                                .btn.btn-primary.btn-block.mb-5
                                    span Select files
                                    input(type='file')                    
                    .card-body
                        - var file_input = name + "_files"
                        ul.list-unstyled.p-2.d-flex.flex-column.col(id=file_input,style="overflow-y: scroll !important;")
                            li.text-muted.text-center.empty No files uploaded.


    script(type='text/javascript').
        my_files['#{name}'] = [];
        init_upload_field('#{name}');





mixin inputCheckbox(displayname, name , values)
    .form-check.floating-label-form-group
        label.custom-control.custom-checkbox
            if values == "on"
                input.custom-control-input(type='checkbox',id=name,name=name value='on' checked)
            else
                input.custom-control-input(type='checkbox',id=name,name=name value='on')
            span.custom-control-indicator
            span.custom-control-description  !{displayname}:    

mixin Button(url ,name, color,icon)

    if color == "green"
        button.btn.btn-success(style="margin: 5px;" onClick="#{url}") 
            i(class=icon)
            |  #{name}
    else if color == "orange"
        button.btn.btn-warning(style="margin: 5px;"  onClick="#{url}") 
            i(class=icon)
            |  #{name}
    else if color == "red"
        button.btn.btn-danger(style="margin: 5px;"  onClick="#{url}") 
            i(class=icon)
            |  #{name}
    else if color == "blue"
        button.btn.btn-primary(style="margin: 5px;"  onClick="#{url}") 
            i(class=icon)
            |  #{name}
    else if color == "info"
        button.btn.btn-info(style="margin: 5px;"  onClick="#{url}") 
            i(class=icon)
            |  #{name}
    else if color == "default"
        button.btn.btn-default(style="margin: 5px;"  onClick="#{url}") 
            i(class=icon)
            |  #{name}

mixin Input(row)
    if row.datatype == "string"
            +inputText(row.displayname,row.name,row.values)
    if row.datatype == "text"
            +inputText(row.displayname,row.name,row.values)
    if row.datatype == "integer"                                
            +inputText(row.displayname,row.name,row.values)                                                                                                
    if row.datatype == "long"                                
            +inputText(row.displayname,row.name,row.values)
    if row.datatype == "float"                                
            +inputText(row.displayname,row.name,row.values)
    if row.datatype == "double"                                
            +inputText(row.displayname,row.name,row.values)
    if row.datatype == "datetime"                                
            +inputDateTime(row.displayname,row.name,row.values)
    if row.datatype == "boolean"                                
            +inputCheckbox(row.displayname,row.name,row.values)                                                    
    if row.datatype == "date"
            +inputDate(row.displayname,row.name,row.values)                                            
    if row.datatype == "time"
            +inputTime(row.displayname,row.name,row.values)                                            
    if row.datatype == "enum"
            +inputSelectEnum(row.displayname,row.name,row.values,row.selected)
    if row.datatype == "external"
            +inputSelect(row.displayname,row.name,row.values,row.selected)
    if row.datatype == "hidden"                                
            +inputHidden(row.name,row.values)