style
  .main-menu ul
    //line-style: none !important;
.main-menu.menu-fixed.menu-dark.menu-accordion(data-scroll-to-active='true')
  .main-menu-content#menubody
    ul.main-menu-navigation.navigation.navigation-main.open(data-menu='menu-navigation')
      li.nav-item
              a#dashboard_button(onClick="loadContainerQuery('crud','dashboard','#netondocontentbody','');")
                i.fa.fa-th
                span.menu-title(data-i18n='') Dashboard
      if menu != null
        each category, cat_index in menu
            li.nav-item
                a(href='#')
                  i(class="#{category.menu_category_icon}")
                  span.menu-title(data-i18n='') #{category.menu_category_name}
                ul.menu-content
                  each menuitem, item_index in category.menu_items              
                    li
                      //a.menu-item(onClick="#{menuitem.menu_item_link}") #{menuitem.menu_item_name}
                      a.menu-item(href='/engine?module=accounts&action=gotoMainPageOrSigninAgain&default_object_to_load=#{menuitem.menu_item_object_name}', onClick="#{menuitem.menu_item_link} return false;") #{menuitem.menu_item_name}


      include menu_platform.jade