doctype html
html.loading(lang='en', data-textdirection='ltr')
  head
    include headers.jade
  
  body.vertical-layout.vertical-menu.1-column.bg-white.fixed-navbar(data-open='click', data-menu='vertical-menu', data-col='1-column')
    .app-content.content.container-fluid
      .content-wrapper
        .content-header
        .content-body
          section.flexbox-container
           .col-md-4.offset-md-4.col-xs-10.offset-xs-1.box-shadow-2.p-0
            .card.border-grey.border-lighten-3.m-0
              .card-header.no-border
                .card-title.text-xs-center
                    img.brand-logo(alt='Logo', src='#{logo_link}')
                h6.card-subtitle.line-on-side.text-muted.text-xs-center.font-medium-4.pt-3
                    span Login page 
              .card-body.collapse.in
                .card-block
                  if autherror
                    h4.danger.darken-2.text-xs-center.danger #{autherror}
                  form.form-horizontal(action="engine" method="post" name="login" novalidate)
                    input(type="hidden" name="module" value="accounts")
                    input(type="hidden" name="action" value="auth")
                    input(type="hidden" name="domain" value="#{domain}")
                    fieldset.form-group.position-relative.has-icon-left
                      input#user-name.form-control.input-lg(type='text',name="username"  placeholder='Your Username', tabindex='1', required='', data-validation-required-message='Please enter your username.')
                      .form-control-position
                        i.ft-user
                      .help-block.font-small-3
                    fieldset.form-group.position-relative.has-icon-left
                      input#user-password.form-control.input-lg(type='password', name="password" placeholder='Enter Password', tabindex='2', required='', data-validation-required-message='Please enter valid passwords.')
                      .form-control-position
                        i.fa.fa-key
                      .help-block.font-small-3
                    fieldset.form-group.row
                      .col-md-6.col-xs-12.text-xs-center.text-md-left
                        fieldset
                          input#remember-me.chk-remember(type='checkbox')
                          label(for='remember-me')  Remember Me
                      .col-md-6.col-xs-12.text-xs-center.text-md-right
                        if enable_web_registration
                            a.card-link(href='?module=accounts&action=forgotpasswordpage&domain=#{domain}') Forgot Password?
                    button.btn.btn-danger.btn-block.btn-lg(type='submit')
                      i.ft-unlock
                      |  Login
              .card-footer.no-border
                if enable_web_registration
                    p.card-subtitle.line-on-side.text-muted.text-xs-center.font-small-3.mx-2.my-1
                        span Don't have username ?
                    a.btn.btn-primary.btn-block.btn-lg.mt-3(href='?module=accounts&action=signuppage&domain=#{domain}')
                      i.ft-user
                      |  Register
include scripts.jade
